.form-add input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}
