.product-container {
  border: 1px solid gainsboro;
  padding: 10px;
}

.order-underline {
  border: 1px solid grey;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.form-added input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
.form-added textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}
